body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}
/* first section styles */
nav{
    margin-left: 116px;
}
.influencer-journey{
    display: flex;
    /* width: 0vw; */
}
.journey-text{
    width: 582px;
    height: 270px;
    padding: 84px;
}
.journey-text h1{
    font-size: 36px;
}
.journey-img>img{
    width: 440px;
height: 414px;
}
.journey-img:hover{
    transform: scaleY(1.5) rotate(60deg);
    transition: transform .25s ease-out;
}
a{ 

    background: #E02C6D;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 41px;
    font-size: 12px;
}
.fa-arrow-right{
    color:whitesmoke
}
/* ----popular collection-- */
#popular-center{
    text-align: center;
    font-size: 28px;
    color: #3A3A3A;

}
.popular-collections{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-column-gap: 44px;
}
.popular-collection{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    width: 329px;
    height: 476px
}
.img-tripod>img{
    width: 300px;
   height: 256px;
}
.popular-icon{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
 /* .fa-starfilled{
    background:burlywood;
}  */


/* footer styles */
 footer{
     display: flex;
    justify-content: center;
    align-items: center;
    background: #0A0826;
    color: white;
    /* width:100vw; */
    height: 300px;
} 
.influence-footer{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
  .fa-instagram, .fa-twitwer , .fa-youtube{
    padding: 15px;
}
